* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color:white;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'EB Garamond', serif;
}

.angled {
  background-color:midnightblue;
  width: 100vw;
  height: 30vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  width: 100vw;
  height: auto;
  position: relative;
  /* background-image: linear-gradient(
    160deg,
    white 0%,
    white calc(25% + 10vw),
    midnightblue calc(25% + 10vw),
    midnightblue 100%
  ); */
  color:black;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(5%, 100px);
}

header img {
  max-width: calc(300px + 4vw);
  margin-top: 20px;
  
}

header picture {
  anchor-name: --anchor1;
}

header h1 {
  position: absolute;
  position-anchor: --anchor1;
  bottom: anchor(bottom);
  color:antiquewhite;
}

.float-trick {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.about-me {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.about-me p {
  padding: 1em;
}

i {
  font-size: 3.6rem;
}

.linkedin-icon {
  width: 40px;
  height: auto;
  padding: 0;
  margin: 0;
}

.icon-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;

}

main {
  font-size: 1.8rem;
  color:black;
  margin: 25px min(10%, 50px);
}

main h2 {
margin-top: 25px;
margin-bottom: 5px;
text-align: center;
}

.project-field {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
 
}

.project {
  width: 250px;
  height: 350px;
  flex-basis: 250px;
  box-shadow: 5px 5px 10px gray;
  margin-bottom: 50px;
  /* margin-right: 50px; */
}

.screenshot {
  width: 100%;
  height: 200px;
  background-color: rgb(247, 181, 95);
}

.screenshot img {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.proj-desc {
  margin: 5px 10px;
  font-size: 1.4rem;
}

.proj-desc p {
  margin-top: 10px;
}

footer {
  background-color: midnightblue;
  color:antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  font-size: 1.8rem;
}

footer .content > * {
  padding: 1em 1em;
}

footer .content {
  display: flex;
  flex-direction: column;
}

footer .image {
  display: flex;
  justify-content: center;
}

footer .icon-set {
  align-self: center;
}

footer .image img {
  max-width: 300px;
  width: 100vw;
  height: auto;
}

@media (min-width: 600px) {

  .float-trick {
    display:block;
  }

  .about-me {
    padding-top: 50px;
    display: block;
    background-color:white;
    box-shadow: 5px 5px 10px grey;
  }

  .about-me .icon-set {
    padding: 10px;
    justify-self: end;
  }

  header picture {
    float: left;
  }

  header {
    display: block;
  }

  header img {
    margin-top: -50px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: calc(300px + 10vw);
  }

  header h1 {
    bottom: auto;
    left: calc(anchor(right) - 15px);
    top: calc(anchor(top) - 50px);
  }

  footer .contact{
    display:flex;
  }
}